{% extends "base.html" %}


{% block body %}

<div class="col-md-6">

	<h1>Enter a new kendama here: </h1>

	<form>
		<!--Name | Brand | Link | Description-->
		<div class="form-group row">
			<div class="col-md-8">
				<input type="text" class="form-control" id="" placeholder="Kendama">
			</div>
		</div>

		<div class="form-group row">
			<div class="col-md-8">
				<input type="text" class="form-control" id="" placeholder="Brand">
			</div>
		</div>

		<div class="form-group row">
			<div class="col-md-8">
				<input type="link" class="form-control" id="" placeholder="Link to buy">
			</div>
		</div>

		<div class="form-group row">
			<div class="col-md-8">
				<input type="text" class="form-control" id="description-box" placeholder="Description">
			</div>
		</div>

		<div class="form-group row">
			<div class="col-md-8">
				<button type="submit" class="btn btn-danger btn-block">Add kendama!</button>
			</div>
		</div>

	</form>
</div>

<div class="col-md-6">
	
	<h1>Upload a picture here: </h1>

</div>



{% endblock %}
