{% extends "base.html" %}


{% block body %}

<h1>Enter a new kendama here: </h1>

<form>
  <div class="form-group row">

    <!--Name | Brand | Link | Description-->

    <label for="Kendama" class="col-md-1 form-control-label">Kendama</label>
    <div class="col-md-4">
      <input type="text" class="form-control" id="" placeholder="Kendama">
    </div>
  </div>


  <div class="form-group row">
    <div class="col-md-2">
      <button type="submit" class="btn btn-secondary">Sign in</button>
    </div>
  </div>

</form>


{% endblock %}
