{% extends "base.html" %}

{% block body %}

	<!--display list of kendamas-->
	{% if kendamas %}

		<!--Name | brand | link | description-->
		<!-- Kendamas Row -->
		<div class="row">

			{% for kendama in kendamas %}
			<div class="col-md-4">

					<div>
						<img class="img-responsive img-height img-circle" src="http://cdn.shopify.com/s/files/1/0286/5338/products/kendama-usa-tribute-half-split-red-and-white-silk-matte-1_1024x1024.jpg?v=1447091381" alt="">
					</div>

					<h3 class="text-center">
						<a href="http://shop.kendamausa.com/collections/tribute-kendamas/products/half-split-red-top-half-and-white-silk-matte">{{kendama.name}}</a>
					</h3>

					<ul class="list-group">
						<li class="list-group-item"> <strong>Brand</strong> {{kendama.brand}} </li>
						<li class="list-group-item"> <strong>Link</strong> {{kendama.link}} </li>
						<li class="list-group-item"> <strong>Description</strong> {{kendama.description}} </li>
					</ul>		
					
			</div>
			{% endfor %}

		</div>
		<!-- /.row -->





	{% endif %}

{% endblock %}



