{% extends "base.html" %}

{% block body %}

	<!--some info describing the purpose of this page-->
	<div class="row description-box">
		<div class="col-md-4">
			<h3>My collection</h3>
			<!--<img src="http://placehold.it/350x300">-->
			<img class="img-responsive img-rounded center-block" src="/static/img/collection.jpg" alt="">
		</div>

		<div class="col-md-8">
			<h3>History</h3>
			<p>
			  This is a to-be CRUD site where I can show off my collection of kendamas. I started playing kendama around Summer '15. My brother had brough one home from a friend's house. I wasn't too impressed when i first saw it. This all changed when I did a quick search on the internet and saw the tricks that you could do with it. I remember that night attempting to try the basic moshikame. It took me about a day or so before I could do it, after that I was hooked.
			</p>

			<h3>Functionality</h3>
			<div>
				<p>
					you can add a new kendama here

					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
						Add a new kendama	
					</button>
				</p>

				<form action="/delete_all" method="POST" class="form-inline">
					or delete them all here
					<input class="btn btn-primary btn-danger" type="submit" value="Remove kendamas">
				</form>
			</div>



			
			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">

					<!--broken into 3 compontents, head body and footer-->
					<div class="modal-content">

						<!--need to have a form being passed here-->
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">Adding a new kendama: </h4>
						</div>

						<!--form goes here-->
						<div class="modal-body">
							<form method="POST" action="/add_kendama" enctype="multipart/form-data">
								{{ form.csrf_token }}

								<div class="form-group row">
									<div class="col-md-12">
										{{ form.name(class="form-control", placeholder="Kendama") }} 
									</div>
								</div>

								<div class="form-group row">
									<div class="col-md-12">
										{{ form.brand(class="form-control", placeholder="Brand") }} 
									</div>
								</div>

								<div class="form-group row">
									<div class="col-md-12">
										{{ form.description(class="form-control", placeholder="Description") }} 
									</div>
								</div>

								<div class="form-group row">
									<div class="col-md-12">
										<label for="">Upload kendama photo:</label>
										{{ form.image(placeholder="Upload image") }} 
									</div>
								</div>

								<div class="form-group row">
									<div class="col-md-12">
										<button type="submit" class="btn btn-danger btn-block">Add kendama!</button>
									</div>
								</div>

							</form>	
						</div>

					</div>

				</div>
			</div>

		</div>
	</div>
	
	<!--display list of kendamas-->
	{% if kendamas %}

		<h2 class="text-center">Kendamas</h2>

		<!--Name | brand | link | description-->
		<!-- Kendamas Row -->
		<div class="row">

			{% for kendama in kendamas %}
			<div class="col-md-6">

					<div>
						<img class="img-responsive img-height img-rounded center-block" src="/static/uploads/{{kendama.image}}" alt="">
					</div>

					<h2 class="text-center">
						<a href="https://www.google.com">{{kendama.name}}</a> </br>

						<input class="btn btn-success" type="button" value="Edit kendama">
						<input id="{{kendama.id}}" class="btn btn-danger delete-ken" type="button" value="Delete kendama">
					</h2>

					<ul class="list-group">
						<li class="list-group-item"> <strong>Brand</strong> {{kendama.brand}} </li>
						<li class="list-group-item"> <strong>Description</strong> {{kendama.description}} </li>
					</ul>		
					
			</div>
			{% endfor %}

		</div>
		<!-- /.row -->

	{% endif %}

{% endblock %}

