{% extends "base.html" %}

{% block body %}

<div class="col-md-6">

	<h1>Enter a new kendama here: </h1>

		<form method="POST" action="/add_kendama">
			{{ form.csrf_token }}

			<div class="form-group row">
				<div class="col-md-8">
					{{ form.name(class="form-control", placeholder="Kendama") }} 
				</div>
			</div>

			<div class="form-group row">
				<div class="col-md-8">
					{{ form.brand(class="form-control", placeholder="Brand") }} 
				</div>
			</div>

			<div class="form-group row">
				<div class="col-md-8">
					{{ form.link(class="form-control", placeholder="Link") }} 
				</div>
			</div>

			<div class="form-group row">
				<div class="col-md-8">
					{{ form.description(class="form-control", placeholder="Description") }} 
				</div>
			</div>

			<div class="form-group row">
				<div class="col-md-8">
					<button type="submit" class="btn btn-danger btn-block">Add kendama!</button>
				</div>
			</div>

		</form>	
</div>

<div class="col-md-6">
	
	<h1>Upload a picture here: </h1>

</div>

{% endblock %}
